## Deliverable 3. Create a Travel Itinerary Map.

In [155]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [156]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,81.77,broken clouds,3.07,172.79,Isles Sunset Lodge
1,1,Vaini,TO,73.40,broken clouds,-21.20,-175.20,Keleti Beach Resort
2,3,San Andres,CO,80.60,light intensity drizzle,12.58,-81.70,Hotel Arena Blanca
3,4,Santa Maria Da Vitoria,BR,86.50,overcast clouds,-13.39,-44.19,Pousada do Rio Corrente
4,5,Hilo,US,71.60,broken clouds,19.73,-155.09,Hilo Hawaiian Hotel

In [157]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [158]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [159]:
narrowed_city_df = vacation_df.loc[(vacation_df["Current Description"] == "clear sky") & (vacation_df["Current Description"] == "clear sky")].dropna()
narrowed_city_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,6,Matara,LK,78.48,clear sky,5.95,80.54,Amaloh Boutique Resort
13,26,Hermanus,ZA,73.99,clear sky,-34.42,19.23,Misty Waves Boutique Hotel
15,28,Aguimes,ES,82.40,clear sky,27.91,-15.45,Hotel Villa de Aguimes
16,29,Victoria,HK,75.00,clear sky,22.29,114.16,Mini Hotel Central
19,36,Catamarca,AR,82.00,clear sky,-28.47,-65.79,Amerian Catamarca Park Hotel
...,...,...,...,...,...,...,...,...
811,1989,Guapore,BR,73.99,clear sky,-28.85,-51.89,Hotel Topo Gigio
822,2015,Lakhimpur,IN,72.59,clear sky,27.95,80.77,Hotel Surabhi
826,2025,Illapel,CL,77.00,clear sky,-31.63,-71.17,Hotel Londres
828,2027,Sao Luiz Gonzaga,BR,77.40,clear sky,-28.41,-54.96,Xerife Hotel
846,2096,General Roca,AR,80.60,clear sky,-39.03,-67.58,Hotel El Recreo

In [160]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Barcelona")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Barcelona")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Monzon")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Zaragoza")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "La Rioja")]

In [161]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])

In [162]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
barcelona_via_barcelona = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(barcelona_via_barcelona)
fig

Figure(layout=FigureLayout(height='420px'))

In [152]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat(([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end]),ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1961,Barcelona,ES,73.4,clear sky,41.39,2.16,Axel Hotel Barcelona
1,633,Monzon,ES,71.6,clear sky,41.91,0.19,Hotel MasmonzÃ³n
2,1688,Zaragoza,ES,75.0,clear sky,41.66,-0.88,Hotel Goya
3,1180,La Rioja,ES,73.4,clear sky,42.25,-2.50,Casa Concejos
4,1961,Barcelona,ES,73.4,clear sky,41.39,2.16,Axel Hotel Barcelona

In [153]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [154]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))